<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 100px);
        box-sizing: border-box;
    }

    .reset-container {
        background: url('/public/assets/Forget-password.avif');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;
        border-radius: 10px;
        text-align: center;
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reset-container h1 {
        font-family: Poppins;
        color: #1a1a1a;
        font: bold;
        margin-bottom: 3rem;
    }

    .reset-container p {
        margin-bottom: 3rem;
        color: #232323;
    }

    #forgot-form{
        width: 40%;
    }

    .reset-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
    }

    .reset-container button {
        background-color: #db4437;
        color: #fefeeb;
        padding: 10px 20px;
        margin: 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .reset-container .resend {
        color: #fefeeb;
        margin-top: 20px;
    }

    .reset-container button:hover {
        background: #f55;
    }

    .reset-container .resend a {
        color: #db4437;
        text-decoration: none;
    }

    .forget-resend :hover {
        color: #f55;
    }
    input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
}
</style>



<%- include('navbar') %>

<!-------------------------------------------- Forget Password ------------------------------------------------->

    <main>
        <div class="reset-container">
            <h1 style="color:rgb(26, 83, 25);">Reset Your Password</h1>
            <form action="/forgotpassword" method="post" id="forgot-form">
                <input type="email" class="form-control form-input" id="email-forgotpass" name="email"
                    placeholder="Email Address" required>
                <button type="submit" class="btn submit-btn" id="forget-btn">Enter email</button>
            </form>
        </div>
    </main>

    <%- include('footer') %>

        <!-------------------------------- password validate ---------------------------------->

        <script>

            function validateEmail(email) {
                const re = /\S+@\S+\.\S+/;
                return re.test(email);
            }
            const forgetPasswordForm = document.getElementById('forget-form');
            const emailInput = document.getElementsByName('email')[0];
            const forgetPasswordButton=document.getElementById('forget-btn')

            forgetPasswordForm.addEventListener('submit', (e) => {
                e.preventDefault();
                if (!validateEmail(emailInput.value)) {
                    Swal.fire({
                        title: "Invalid Email",
                        text: "Please enter a valid email address.",
                        icon: "error"
                    });
                } else {
                    forgetPasswordForm.submit();
                }
            });

        </script>