<style>
    .pagenot-found-container{
        display: flex;
        flex-direction: column;
        ; /* Align the button at the bottom */
        background: url('../../public/assets/270055-P5KT2M-653.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 75vh;
       /* Adjust bottom padding as needed */
    }
    .pagenot-found-container button{
        align-self: center; /* Centers the button horizontally */
        justify-content:flex-end;
    }
</style>

<!-------------------------------------------- 404 Page ------------------------------------------------->

<div  class="pagenot-found-container">
    <button class="btn btn-danger onclick="history.back()">Go Back</button>
</div>
